.main-analysis{
    text-align: center;
    margin-top: 20px;
}
.anlysis-heading{
    font-size: 4rem;
}
.main-analysis h1{
    font-size: 2rem;
}
.main-analysis p{
    font-size: 1.2rem;
    margin-top: 10px;
}
.adashboard-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
    padding: 2px 16px;

  }
  .adashboard-navbar div{
    font-size: 1.8rem;
  }
@media (max-width: 768px) {
    .main-analysis {
        width: 98vw;
        margin: 40px 0px;
    }
    .main-analysis h1{
        font-size: 1.4rem;
    }
    .main-analysis p{
        font-size: 1rem;
        margin-top: 10px;
    }
    .adashboard-navbar div{
        font-size: 1.5rem;
      }
}